{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- inner banner -->
    <section class="inner-banner py-5">
        <div class="w3l-breadcrumb py-lg-5">
            <div class="container pt-4 pb-sm-4">
                <h4 class="inner-text-title font-weight-bold pt-sm-5 pt-4">Contact Us</h4>
                <ul class="breadcrumbs-custom-path">
                    <li><a href="index.html">Home</a></li>
                    <li class="active"><i class="fas fa-angle-right mx-2"></i>Contact</li>
                </ul>
            </div>
        </div>
    </section>
    <!-- //inner banner -->

    <!-- contact section -->
    <section class="w3l-contact-11 py-5" id="contact">
        <div class="container py-md-5 py-4">
            <h3 class="title-style text-center mb-5"><span>Make </span>Appointment </h3>
            <div class="row text-center mb-5 pb-lg-5 pb-sm-4">
                
                
                
            </div>
            <center>
                
            </center>
            <br/><br/>
            <div class="form-inner-cont mx-auto" style="max-width:800px">
                <form action="{% url 'apointment' %}" method="post" class="signin-form">
                    {% csrf_token %}
                    <div class="row align-form-map">
                        <div class="col-sm-6 form-input">
                            <input type="text" name="your-name" id="name" placeholder="Name" />
                        </div>
                        <div class="col-sm-6 form-input">
                            <input type="email" name="your-email" id="email" placeholder="Email" required="" />
                        </div>
                        <div class="col-sm-6 form-input">
                            <select name="your-days" class="form-control">
                                <option value="Choose Your Days">Choose your Days</option>
                                <option value="Saturday" >Saturday</option>
                                <option value="Sunday" >Sunday</option>
                                <option value="Tuesday" >Tuesday</option>
                                <option value="Wednesday" >Wednesday</option>
                            </select>
                        </div>
                        
                        <div class="col-sm-6 form-input">
                            <input type="number" name="your-phone" placeholder="Phone Number" class="contact-input">
                        </div>
                        <div class="col-sm-6 form-input">
                            <input type="text" name="your-address" placeholder="Your address" class="contact-input">
                        </div>
                        <div class="col-sm-6 form-input">
                            <select name="your-scheldule" class="form-control">
                                <option value="Choose your scheldule">Choose your schedule</option>
                                <option value="9 AM to 10 AM" >9 Am to 10 AM</option>
                                <option value="11 AM to 12 AM" >11 Am to 12 AM</option>
                                <option value="3 PM  to 3 PM" >3 Pm to 4 PM</option>
                            </select>
                        </div>
                    </div>
                    <br/>
                    <div class="form-input">
                        <textarea placeholder="Message" name="message" id="message" required=""></textarea>
                    </div>
                    <div class="submit text-right">
                        <button type="submit" class="btn btn-style">Submit
                            Message</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!-- map -->
    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14605.879437132764!2d90.33949945568183!3d23.766277203881835!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755c0a1ae8e3a9d%3A0x7e083e120768c091!2s1%20Road%20No.%202%2C%20Dhaka%201207!5e0!3m2!1sen!2sbd!4v1690751352057!5m2!1sen!2sbd" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <!-- //contact section -->

   {% endblock %}